@use 'material-icons/iconfont/material-icons.css';
@use "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#app {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--backgroud-light-color);
  font-family: "Dosis", sans-serif;
}
